In [1]:
import numpy as np
import pandas as pd
import itertools as it
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1144,tt0313443,50000000,55495563,Out of Time,Denzel Washington|Eva Mendes|Sanaa Lathan|John...,Carl Franklin,The Clock Is Ticking...,"Matt Lee Whitlock, respected chief of police i...",105,Thriller|Crime|Drama,Original Film|Monarch Pictures|Metro-Goldwyn-M...,10/3/2003,6.0,2003
1498,tt0409182,160000000,181674817,Poseidon,Kurt Russell|Richard Dreyfuss|Josh Lucas|Jacin...,Wolfgang Petersen,Mayday,A packed cruise ship traveling the Atlantic is...,99,Adventure|Action|Drama|Thriller,Virtual Studios|Next Entertainment|Warner Bros...,5/12/2006,5.3,2006
70,tt2279339,17000000,24000000,Love the Coopers,Steve Martin|Diane Keaton|John Goodman|Alan Ar...,Jessie Nelson,"Christmas means comfort, joy and chaos.",When four generations of the Cooper clan come ...,107,Family|Comedy,Imagine Entertainment|Groundswell Productions|...,11/12/2015,5.3,2015
1602,tt0366551,9000000,23936908,Harold & Kumar Go to White Castle,John Cho|Kal Penn|Paula GarcÃ©s|Neil Patrick H...,Danny Leiner,Fast Food. High Times.,"Sometimes, it takes a strange night to put eve...",88,Comedy|Adventure,New Line Cinema,5/30/2004,6.4,2004
220,tt1371150,19800000,41296320,This Is Where I Leave You,Jason Bateman|Tina Fey|Adam Driver|Rose Byrne|...,Shawn Levy,Welcome Home. Get Uncomfortable.,"When their father passes away, four grown, wor...",103,Drama|Comedy,Spring Creek Productions|21 Laps Entertainment...,9/10/2014,6.5,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов


def get_number_of_elements(list):
    """Функция для подсчета элементов списка"""
    count = 0
    for element in list:
        count += 1
    return count

# считаем прибыль/убытки фильма
data['profit'] = data['revenue'] - data['budget']
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = pd.DatetimeIndex(data['release_date']).month
data['vote_average'] = pd.to_numeric(data['vote_average'])

data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810,6
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354,5
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201,3
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225,12
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360,4

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +

In [6]:
data[data.budget == data.budget.max()][['original_title', 'imdb_id']].\
    reset_index(drop=True)

                                original_title    imdb_id
0  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
answers['2'] = 'Gods and Generals (tt0279111)'  # +

In [8]:
data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']].\
    reset_index(drop=True)

      original_title    imdb_id
0  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # +

In [10]:
data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']].\
    reset_index(drop=True)

    original_title    imdb_id
0  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '110'  # +

In [12]:
int(round(data.runtime.mean(), 0))

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '107'  # +

In [14]:
int(round(data.runtime.median(), 0))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = 'Avatar (tt0499549)'  # +

In [16]:
data[data.profit == data.profit.max()][['original_title', 'imdb_id']].\
    reset_index(drop=True)

  original_title    imdb_id
0         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'  # +

In [18]:
data[data.profit == data.profit.min()][['original_title', 'imdb_id']].\
    reset_index(drop=True)

    original_title    imdb_id
0  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
answers['8'] = '1478'  # +

In [20]:
data[data.profit > 0].imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
answers['9'] = 'The Dark Knight (tt0468569)'  # +

In [22]:
data_9 = data[data.release_year == 2008].reset_index()
data_9[data_9.revenue == data_9.revenue.max()][
    ['original_title', 'imdb_id']].reset_index(drop=True)

    original_title    imdb_id
0  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = 'The Lone Ranger (tt1210819)'  # +

In [24]:
data_10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)].\
    reset_index()
data_10[data_10.profit == data_10.profit.min()][
    ['original_title', 'imdb_id']].reset_index(drop=True)

    original_title    imdb_id
0  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = 'Drama'  # +

In [26]:
data_11 = data.genres.str.split('|').explode().value_counts().\
    sort_values(ascending=False).reset_index()
data_11.columns = ['genre', 'movies_cnt']
data_11.head(1)

   genre  movies_cnt
0  Drama         782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [27]:
answers['12'] = 'Drama'  # +

In [28]:
data_12 = data[data.profit > 0].genres.str.split('|').\
    explode().value_counts().sort_values(ascending=False).reset_index()
data_12.columns = ['genre', 'movies_cnt']
data_12.head(1)

   genre  movies_cnt
0  Drama         560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = 'Peter Jackson'  # +

In [30]:
data.groupby(['director'])['revenue'].sum().reset_index().sort_values(
    by='revenue', ascending=False).head(1)

          director     revenue
689  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
answers['14'] = 'Robert Rodriguez'  # +

In [32]:
data_14 = data[data.genres.str.contains('Action')].\
    director.str.split('|').explode().value_counts().\
    reset_index().nlargest(1, 'director')
data_14.columns = ['director', 'movies_cnt']
display(data_14)

           director  movies_cnt
0  Robert Rodriguez           9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [33]:
answers['15'] = 'Chris Hemsworth'  # +

In [34]:
data_15 = data[data.release_year == 2012][
    ['release_year', 'cast', 'revenue']].reset_index(drop=True)
data_15['cast'] = data_15.cast.str.split('|')
data_15 = data_15.explode('cast')
data_15.groupby(['cast'])['revenue'].sum().reset_index().sort_values(
    by='revenue', ascending=False).head(1)

               cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [35]:
answers['16'] = 'Matt Damon'  # +

In [36]:
data_16 = data[data.budget > data.budget.mean()].\
    reset_index(drop=True)
data_16['cast'] = data_16.cast.str.split('|')
data_16 = data_16.explode('cast')
data_16.groupby('cast')['imdb_id'].nunique().\
    reset_index().sort_values(by='imdb_id', ascending=False).head(1)

           cast  imdb_id
965  Matt Damon       18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [37]:
answers['17'] = 'Action'  # +

In [38]:
data_17 = data[data.cast.str.contains('Nicolas Cage')][
    ['imdb_id', 'genres', 'cast']]
data_17['genres'] = data_17.genres.str.split('|')
data_17 = data_17.explode('genres')
data_17 = data_17.groupby('genres')['imdb_id'].nunique().reset_index()
data_17.columns = ['genres', 'movies_cnt']
data_17.sort_values(by='movies_cnt', ascending=False).head(1)

   genres  movies_cnt
0  Action          17

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'  # +

In [40]:
# все фильмы Paramount Pictures
data_18 = data[data.production_companies.str.contains('Paramount Pictures')]
# фильм с самой низкой прибылью
data_18[data_18.profit == data_18.profit.min()][
    ['original_title', 'imdb_id']].reset_index(drop=True)

         original_title    imdb_id
0  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [41]:
answers['19'] = '2015'  # +

In [42]:
data.groupby('release_year').revenue.sum().reset_index().\
    sort_values(by='revenue', ascending=False).head(1)

    release_year      revenue
15          2015  25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
answers['20'] = '2014'  # +

In [44]:
# все фильмы Warner Bros.
data_20 = data[data.production_companies.str.contains('Warner Bros')]
data_20.groupby('release_year').profit.sum().reset_index().\
    sort_values(by='profit', ascending=False).head(1)

    release_year      profit
14          2014  2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [45]:
answers['21'] = '9'  # +

In [46]:
data_21 = data.groupby('release_month').imdb_id.nunique().\
    reset_index().sort_values(by='imdb_id', ascending=False)
data_21.columns = ['release_month', 'movie_cnt']
data_21.head(1)

   release_month  movie_cnt
8              9        227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [47]:
answers['22'] = '450'  # +

In [48]:
data[data.release_month.isin([6, 7, 8])].imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
answers['23'] = 'Peter Jackson'  # +

In [50]:
data_23 = data[data.release_month.isin([12, 1, 2])]  # все "зимние" фильмы
data_23 = data_23.director.str.split('|').explode().value_counts().\
    reset_index().nlargest(1, 'director')
data_23.columns = ['director', 'movies_cnt']
display(data_23)

        director  movies_cnt
0  Peter Jackson           7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [51]:
answers['24'] = 'Four By Two Productions'  # +

In [52]:
data_24 = data.copy()
data_24['production_companies'] = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies')
data_24['original_title_len'] = data_24['original_title'].str.len()
data_24.groupby('production_companies')['original_title_len'].\
    mean().reset_index().sort_values(by='original_title_len',
                                        ascending=False).head(1)

        production_companies  original_title_len
583  Four By Two Productions                83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [53]:
answers['25'] = 'Midnight Picture Show'  # +

In [54]:
data_25 = data.copy()
data_25['production_companies'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('production_companies')
data_25['overview_words_count'] = data_25['overview'].\
    str.split().apply(get_number_of_elements)  # считаем количество слов
data_25.groupby('production_companies')['overview_words_count']\
    .mean().reset_index().sort_values(by='overview_words_count',
                                      ascending=False).head(1)

       production_companies  overview_words_count
1041  Midnight Picture Show                 175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [55]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave'  # +

In [56]:
large = int(round(data.imdb_id.nunique()/100, 0))  # расчитываем 1% значений
data[['original_title', 'vote_average']].reset_index(drop=True).\
    nlargest(large, columns='vote_average')

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
155                        The Theory of Everything           7.8
177                          The Fault in Our Stars           7.8
283                                      Mr. Nobody           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [57]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'  # +

In [58]:
data_27 = data.cast.str.split('|').reset_index()
data_27 = data_27.cast.apply(lambda x: list(it.combinations(x, 2)))
data_27.explode().mode()

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

# Submission

In [59]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [60]:
# и убедиться что ни чего не пропустил)
len(answers)

27